.body .banner img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
    margin: 0px;
    width: 100%;
}

.body .section_service {
    background-color: #202997;
    color: #ffffff;
    position: absolute;
    z-index: 9;
    padding: 25px 0;
    margin-top: -30px;
    position: relative;
    z-index: 1;
}

    .body .section_service .nav-item {
        text-align: center;
        margin: 0px 30px;
    }

        .body .section_service .nav-item h3 {
            font-size: 14px;
            margin-top: 10px;
            font-weight: bold;
        }

        .body .section_service .nav-item p {
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 0;
            line-height: 20px;
            /* color: #fff; */
        }

        .body .section_service .nav-item img {
            max-width: 100%;
            filter: invert(1);
        }

.thumb img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.banner-body {
    margin-bottom: 20px;
}

.news h2 {
    margin-top: 30px;
    content: "";
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #3f3fdb;
    letter-spacing: 0.2em;
    line-height: 48.76px;
    word-break: break-all;
    text-align: center;
}

.new h2 span {
    font-size: 50px;
}

.news .title {
    font-size: 16px;
    line-height: 19.5px;
    color: #616161;
    margin-bottom: 35px;
    text-align: center;
}
.produce__new {
    margin-top: 30px;
    position: relative;
}

    .produce__new h2 {
        content: "";
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px;
        color: #3f3fdb;
        letter-spacing: 0.2em;
        line-height: 48.76px;
        word-break: break-all;
        text-align: center;
    }

        .produce__new h2 span {
            font-size: 50px;
        }

    .produce__new .title {
        font-size: 16px;
        line-height: 19.5px;
        color: #616161;
        margin-bottom: 35px;
        text-align: center;
    }
    .produce__new .card-body {
        background-color: #ddd;
    }

    .produce__new img {
        width: 100%;
        /* object-fit: cover; */
        /* margin: 10px; */
    }

    .produce__new .card-title {
        text-align: center;
    }

        .produce__new .card-title a {
            /* font-weight: bold; */
            text-decoration: none;
            color: #4c4c4c;
            font-size: 14px;
            font-weight: bold;
        }

    .produce__new .card-text {
        font-size: 16px;
        color: #c30005;
        font-weight: bold;
        margin-top: 10px;
    }

        .produce__new .card-text span {
            color: #c30005;
            font-weight: lighter;
            text-decoration: line-through;
        }

    .produce__new button {
        background-color: #c30005;
        --btn-hover-border-tint-amount: 10%;
        border-radius: 0px;
    }

.body_banner img {
    max-width: 100%;
    border-radius: 10px;
}

.imggg {
    margin-top: 100px;
}

.more {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

    .more a {
        text-decoration: none;
        color: #4c4c4c;
        font-size: 14px;
        border: 2px solid #4c4c4c;
        padding: 10px 30px;
        font-weight: bold;
    }
