@model _4.CusView.ModelRequest.ThayDoiMKRequest

@{
    ViewData["Title"] = "DoiMK";
}

<h1>DoiMK</h1>

<h4>ThayDoiMKRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThayDoiMK">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhauMoi" class="control-label"></label>
                <input asp-for="MatKhauMoi" class="form-control" />
                <span asp-validation-for="MatKhauMoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhapLaiMkm" class="control-label"></label>
                <input asp-for="NhapLaiMkm" class="form-control" />
                <span asp-validation-for="NhapLaiMkm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
